<title>{{  '' if APP_SETTINGS['title'] == '' else APP_SETTINGS['title']+' - '}}{{APP_SETTINGS['name']}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="description" content="{{APP_SETTINGS['description']}}">
<meta name="keywords" content="{{APP_SETTINGS['keywords']}}">
<meta name="author" content="{{APP_SETTINGS['author']}}">
<link rel="shortcut icon" href="{{APP_SETTINGS['icon-short'] }}" />
<link rel="icon" type="image/png" href="{{APP_SETTINGS['icon'] }}" />